#header {
	width:100%;
	text-align:left;
	height:200px;
}

#title{
	margin:auto;
	width:1040px;
	text-align:left;
	min-height:100px;
        background-color: #339933;
}

/* Titres */ 
h1 { 
  height:100px;
  display: inline-block;
  margin-top: 0;
  font-family: "HittheRoad", "Lucida Grande",Tahoma, "Trebuchet MS", Arial, Helvetica, FreeSans, sans-serif;
  font-weight: normal;
  font-size: 80px; 
  line-height: 0.8;
  color: white;
  text-shadow: 0px 0px 5px #fff; 
  
} 